:root {
  --gold: #ffc436;
  --gray: #212121;
  --white: #fff;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: var(--gray);
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Parisienne', serif;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
}

p {
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px;

  @media only screen and (min-device-width: 480px) {
    flex-direction: row;
    margin: 48px 0px;
  }
}

.hero-2 {
  padding: 48px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-device-width: 480px) {
    padding: 0px 48px;
    align-items: start;
  }
}

hr {
  border-top: 1px solid var(--gold);
  width: 100%;
}

.button {
  font-family: 'Parisienne', serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 64px;
  padding: 8px 36px;
  text-decoration: none;
  color: var(--gray);
  background: var(--white);
  border: 2px solid var(--gold);
}

.wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #fff, #ffc436);
  padding: 0px;

  @media only screen and (min-device-width: 480px) {
    padding: 48px 0px;
  }
}

.card {
  background: none;
  background-image: linear-gradient(to right bottom, #fff, #ffc436);
  padding: 32px 48px;
  border-radius: 16px;
  max-width: 640px;

  @media only screen and (min-device-width: 480px) {
    background: var(--white);
    background-image: none;
  }

  h1 {
    text-align: center;

    @media only screen and (min-device-width: 480px) {
      text-align: left;
    }
  }
}

.wrap-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px;

  @media only screen and (min-device-width: 480px) {
    padding: 48px 0px;
  }
}

.photo-row {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media only screen and (min-device-width: 480px) {
    flex-direction: row;
  }
}

.photo-row-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media only screen and (min-device-width: 480px) {
    flex-direction: row;
  }
}

.photo-row-1-l {
  padding: 48px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-device-width: 480px) {
    padding: 0px 48px;
    align-items: start;
  }

  h2 {
    text-align: center;

    @media only screen and (min-device-width: 480px) {
      text-align: left;
    }
  }
}

/* Photo banner */

.photobanner {
  height: 250px;
  width: 3500px;
  display: flex;
  margin: 16px 0px;

  @media only screen and (min-device-width: 480px) {
    margin: 0px;
  }
}

.img {
  height: 250px;
  display: flex;
}

/*keyframe animations*/
.first {
  -webkit-animation: bannermove 30s linear infinite;
  -moz-animation: bannermove 30s linear infinite;
  -ms-animation: bannermove 30s linear infinite;
  -o-animation: bannermove 30s linear infinite;
  animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2135px;
  }
}

@-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2135px;
  }
}

@-webkit-keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2135px;
  }
}

@-ms-keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2135px;
  }
}

@-o-keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2135px;
  }
}